@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", serif;
}
.homeContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}

.billrow {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    /* background-color: orange; */
}

.homeBody {
    flex-grow: 1;
    padding: 10px 40px;
    display: flex;
    /* background-color: beige; */
}


.head {
    margin-left: 0px;
}


.form-container {
    display: block;
    padding: 10px;

    /* margin-top: 20px; */
}

.success-message {
    display: none;
    color: green;
    font-weight: bold;
}

.billBox {

    border: 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    padding:10px;
    /* background-color: gray; */
}

.inputDiv {
    display: flex;
    column-gap: 50px;
    margin-bottom: 10px;
}

.header {
    font-weight: bold;
    background-color: #f4f4f4;
}

input {

    border: none;
    width: 100%;
    padding: 0px;
}

label {
    font-size: 18px;
}

.input {
    height: 40px;
    width: 350px;
    border: 1px solid black;
}
.table th{
    font-size: 15px;
    font-weight: 600;
}



.delete-btn {
    cursor: pointer;

}

.save {
    height: 80px;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}





.print {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 141, 21);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

.print:hover {

    background-color: rgb(63, 149, 63);
    color: white;

}

#creditFields {
    display: flex;
    align-items: center;
    /* width: 100%;  width: 100%; */
    /* background-color: lightblue; */


}

#creditFields label {
    font-size: 25px;
}

#initialPayment {
    height: 80px;
    flex-grow: 1;
    width: 30rem;
    font-size: 25px;
    border: 1px solid black;

}

.TOTAL {
    width: 100%;
    height: 100%;
    background-color: rgb(69, 171, 239);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
}

.credTotal {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    /*   */
}

.valuesContainer {
    flex-grow: 1;
    /* height: 90vh; */
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: beige; */
    /* text-align: center; */
    /* align-items: center; */

}

.values {
    height: 100px;
    flex-grow: 1;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px; */
    margin-bottom: 50px;


}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .homeContainer {

        padding: 0px 20px;
    }

    .billRow {
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .homeBody {
        flex-direction: column;
    }

    .billBox {
        margin: 10px;
    }

    .inputDiv {
        flex-direction: column;
    }

    .input {

        width: 100%;

    }
}

@media (max-width: 649px) {
    #initialPayment {
        height: 60px;
        flex-grow: 0;
        width: 100%;


    }
}


@media (max-width: 576px) {
    .homeContainer {

        padding: 0px 0px;
    }

    .billRow {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .homeBody {
        margin-top: 20px;
        padding: 10px;
    }

    .billBox {
        margin: 0px;
    }
    table{
        margin-left: -8px;
        
    }
 
    .values {
 
        margin-bottom: 20px;
    
    
    }

}
@media (min-width: 411px) and (max-width: 431px) {
    table{

        margin-left: -10px;
        
    }
}
@media (max-width: 376px) {
    table{
        margin-left: 0px;
        
    }
}